name: CI/CD RedOS

on:
  push:
    branches: [ develop, main, feature/* ]
  pull_request:
    branches: [ main, develop ]

env:
  BUILD_TYPE: Release

jobs:
  build-redos:
    name: Build RedOS
    runs-on: ubuntu-latest
    container:
      image: mandrm/redos-ci-analytics:latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake -G Ninja -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} ..

    - name: Build
      run: |
        cd build
        ninja
        # Проверим, создались ли файлы
        ls -la bin/ || echo "Bin directory not found"
        find . -name "analytics_app" -type f || echo "analytics_app not found"

    - name: Test basic functionality
      run: |
        cd build
        ./src/analytics_app --help
        ./src/demo_html_parser --help